<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
    button{
        color: white;
        background-color:#500000;
    }
    p{
        font-size: 18px;
    }
    </style>
  </head>
  <body>
<div class="container text-center">
    <h1 style="font-size:5vw">What is <span style ="color:#500000"> AIC </span> ACCESS?</h1>
        <p>AIC Access is an exclusive program for high-caliber, highly dedicated student who desire to complete a high
        -finance internship after their freshman, sophomore, or junior year. We partner with investment banks, private
        equity firms, and asset managers to provide opportunities for professional growth through a summer internship that may be
        an enigma to obtain.</p>
    </div>
<div class ="container p-3 my-3">
    <h3 style="font-size:40px"> Requirements </h3>
        <p> - Currently enroller as a full-time freshman,sophomore, or junior undergraduate student OR at least 1 summer 
        away from graduation </p> 
        <p> - Have a good academic background </p> 
        <p> - Preparation and devotion to career in finance-related feilds (Does not include corporate finance, wealth management, 
        or consulting) </p> 
</div>

<div class = "container p-3 my-3">
    <h3 style="font-size:40px"> How To Join </h3>
    <ol>
        <li> Build/Revise your resume to the template given in the appication </li><br>
        <li> Aply by clicking the button below </li><br>
        <li> Be on the lookout for an invitation to join AIC ACCESS to create a login </li><br>
        <li> Set up your log-in credentials and fill out all fields for your profile information (This may be shared with companies) </li>
    </ol>
</div>
<div class = "container text-center">
<button type="button" class="btn btn-primary"> Apply Today </button>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>