<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      p{
        font-size:18px;
      }
    </style>
  </head>
  <body>
    <div class="container text-center">
  <h1 style="font-size:60px">Member Resources</h1>
</div>

<div class ="container pb-5 ">
    <h1 style="font-size:40px"> Videos </h1>
    <div class="row text-center">
        <div class="col">
          <h3> How to Use AIC Access </h3> 
          <iframe width="400" height="300" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
          allowfullscreen></iframe> 
        </div>      
        <div class="col">
          <h3> Networking for an Internship </h3> 
          <iframe width="400" height="300" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
          allowfullscreen></iframe>
        </div>
    </div>
    <div class = "row text-center">
        <div class="col"> 
          <h3> Cold Emailing & Calling </h3> 
          <iframe width="400" height="300" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
          allowfullscreen></iframe>
        </div>
        <div class="col">
          <h3> Building Your Resume </h3> 
          <iframe width="400" height="300" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
          allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class ="container pb-3">
    <h1> Links & Websites </h1>
    <p>What is Private Equity? </p>
    <a href="https://www.youtube.com/watch?v=tbRkdm80cFs" target ="_blank">https://www.youtube.com/watch?v=tbRkdm80cFs</a> <br>
    <a href="https://www.pitchbook.com/blog/what-is-private-equity" target ="_blank"> https://www.pitchbook.com/blog/what-is-private-equity </a>
</div>

<div class = "container pb-3">
    <h1> Resume Template </h1>
    <p> Add resume template here </p>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>