<!DOCTYPE html>
<html>
<body>
<%= @greeting %> <%= @user.first_name %>, <br>

Your application to AIC Access has been approved. To reset your password, click the URL below: <br>

<%= edit_password_forget_url(@user.password_reset_token) %> <!--This is the link to reset your password-->

This link will expire in 7 days. Please contact an officer if you have any issues.
</body>
</html>
