<style>
th{
    padding: 5px;
    text-align: center;
}
</style>

<h1> Admin Stuff </h1>
<table style="border:1">
    <tr><th><%= link_to "View Submited Applications", access_submissions_path %></th></tr>
    <tr><th><%= link_to "View Users", users_index_path %></th></tr>
</table>