<h3>Update Job Details</h3>
	<%= form_with model: @job do |form| %>
		<%= form.text_field :company, placeholder: "{@job.company}" %>
		<%= form.text_field :description, placeholder: "{@job.description}" %>

		<%= form.submit %>
	<% end %>

