<%= error_messages_for(f.object) %>

<table summary="user form fields">
  <tr>
    <th>Email</th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= f.text_field(:password) %></td>
  </tr>
  <tr>
    <th>Role ID</th>
    <td><%= f.text_field(:roleid) %></td>
  </tr>
</table>