
<div>
  <center>
    <h1>Job Applications</h1>


    <table border="1">
      <% @job_applications.each do |job_application| %>
        <tr>
            <td> <%= job_application.job_id %> </td>
            <td> <%= job_application.user_id %> </td>
            <td> <%= job_application.answers %> </td>
      <% end %>
    </table>
  </center>
</div>
