<p>
<strong> User Id: </strong>
<%= @job_application.user_id %>
<br/>
<strong> Company Name: </strong>
<%= @job.company %>
<br/>
<strong> Description: </strong>
<%= @job.description %>
<br/>
<strong> Application Answers: </strong>
<%= @job_application.answers%>
<br/>
</p>
