<div class="col-md-1">
  <a href=<%= jobs_panel_path %> class="btn btn-outline-primary btn-block">Back</a>
</div>

<div id="total-time" class="hidden"> <%=@export.total_actions %> </div>

<div class="container h-75">
  <center><h1>Exporting Job</h1></center>
  <div class="pt-5 row h-100 justify-content-md-center align-items-center">  
      <div class="col-md-8">

      <center>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          <span class="sr-only"></span>
        </div>
      </div>
      </center>

      <div id="download-export-btn" class="pt-5" style="display:none;">
        <a href=<%= download_export_path %> class="btn btn-aggie btn-block"> Download Export </a>
      </div>

      </div>
  </div>
</div>

</center>
