
<% if notice %>
    <div id = "myAlert" class="alert alert-primary alert-dismissible fade show">
    <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div id = "myAlert" class="alert alert-danger alert-dismissible">
    <%= alert %>
    </div>
<% end %>