<div class="form-group justify-content-center">
  <%= f.text_area :question, label: false, class: 'col-10'%>
  <%= f.hidden_field :_destroy %>
  <span style="float:right">
  <%= link_to 'Delete', '#', class: 'remove_record btn btn-outline-secondary'%>
  <span>
</div>
